*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.countryInfo{
    background-image: url('../images/countryInfo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.countryInfo{
    width: 100%;
    /*Change the height of the top image*/
    height: 10vh;
    min-height: 400px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.countryInfo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/countryInfo.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.container__map{
    background-color: #fff;
    padding: 3em 2.5em;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search__wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search__wrapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
}

#result{
    margin-top: 1.25em;
}

.container__map .flag__img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container__map h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data__wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container__map h4{
    display: inline;
    font-weight: 600;
    color: #222a43;
}

.container__map span{
    color: #5d6274;
}

.container__map h3 {
    text-align: center;
}

.container__map h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}

@media (max-width:800px){
    .container__map{
        background-color: #fff;
        padding: 3em 2.5em;
        position:absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 0.62em;
        box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    .search__wrapper{
        display: grid;
        grid-template-columns: 9fr 3fr;
        gap: 1.25em;
    }
    
    .search__wrapper input{
        font-size: 1em;
        padding: 0 0.62em;
        border: none;
        border-bottom: 2px solid #3d64e6;
        outline: none;
        color: #222a43;
    }
    
    #result{
        margin-top: 1.25em;
    }
    
    .container__map .flag__img{
        display: block;
        width: 30%;
        min-width: 7.5em;
        margin: 1.6em auto 1em auto;
    }
    
    .container__map h2{
        font-weight: 600;
        color: #222a43;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1.8em;
    }
    
    .data__wrapper{
        margin-bottom: 1em;
        letter-spacing: 0.3px;
    }
    
    .container__map h4{
        display: inline;
        font-weight: 600;
        color: #222a43;
    }
    
    .container__map span{
        color: #5d6274;
    }
    
    .container__map h3 {
        text-align: center;
    }
    
    .container__map h3{
        text-align: center;
        font-size: 1.2em;
        font-weight: 400;
        color: #ff465a;
    }
}