.flip{
    display: grid;
    align-content: center;
    justify-content: center;
}
#coin {
    transition: transform .5s;
    width: 200px;
    height: 200px;
}

#stop{
    display: none;
}

#flipResult{
    color: green;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
}