
.hero__SecPages__todo{
    background-color: #1D293F;
    color: #fff;
}

.toDo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1px;
}

.toDo__container{
    background-color: rgb(219, 219, 219);
}

.container__toDo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main__content {
    display: grid;
    align-items: center;
    padding: 10px;  
}

li {
    list-style-type: none;
}  

.stats{    
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.stats span{
    color: #fff;
    background-color: #174d79;
    border-radius: 3px;
    padding: 5px;
}

#remaining__tasks{
    background-color: rgb(91, 136, 227);
}

#completed__tasks{
    background-color: rgb(91, 136, 227);
}

#total__tasks{
    background-color: rgb(91, 136, 227);
}

#todo__form button{
    background-color: rgb(245, 202, 103);
}

#todo__form input{
    padding: 14px 20px;
    border-radius: 4px;
}

.todos{
    margin-bottom: 4rem;
}

.todos li{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos li div{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.todos li.complete{
    background-color: rgb(101, 181, 224, 0.5);    
    text-decoration: line-through;
    color: rgb(72, 72, 72);
}

input[type='checkbox']{
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border:2px solid black;
    border-radius: 100%;
    display: grid;
    place-content: center;
    transition: all .2s ease-in-out;
}

input[type='checkbox']::before{   
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: #fff ;transform: ;msFilter:;'%3E%3Cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
    transform: scale(0);
    transition: all .2s ease-in-out;
}

input[type='checkbox']:checked{
    background-color: rgb(72, 72, 72);
    border-color: rgb(72, 72, 72);
}

input[type='checkbox']:checked::before{
    transform: scale(1);
}

.todos li button{
    border: 0;
    padding: .25rem;
    display: grid;
    place-content: center;
    background-color: transparent;
} 

.todos li button svg{
    width: 1.25rem;
    height: 1.25rem;
}

.todos li button svg path{
    transition: all .2s ease-in-out;
}

.todos li button:hover svg path {
    stroke: rgb(0, 0, 0);
}

.todos li button:active svg{
    transform: scale(.8);
}

.todos li span{
    padding: 2px;
    border-radius: 3px;
    transition: all .2s ease-in-out;;
}

.todos li span:focus{
    background-color: cornsilk;
    outline: none;
}

.tods li span[contenteditable]:hover{
    background-color: cornsilk;
}

@media (max-width: 767px){
    .toDo{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 1px;
    }

    .container__toDo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main__content {
        display: grid;
        align-items: center;
        padding: 10px;  
    }

    li {
        list-style-type: none;
    }  

    .stats{    
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .stats span{
        color: #fff;
        background-color: #174d79;
        border-radius: 3px;
    }
}